*{
    margin: 0;
    padding: 0;
}

.reply-wrapper{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.856);
}

.reply-main{
    height: 500px;
    width: 30%;
    background-color: #181818;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.reply-main h1{
    color: rgb(112, 112, 112);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.replyform{
    display: flex;
    flex-direction: column;
}

.repost-button{
    height: 50px;
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.repost-button p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
}