*{
    margin: 0;
    padding: 0;
}
.splash-main{
    background-color:#101010;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 70px;
    width: auto;
}


.splash-footer{
    position: absolute;
    left: 48%;
    bottom: 30px;
}

.splash-footer p{
    color: grey;
    margin-left: 17px;
    margin-bottom: 10px;
}
.footer-logo{
    height: 15px;
    width: auto;
}
